html {
  background-color:#214c84;
  background-blend-mode:overlay;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:url(../../assets/img/image4.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
}
body {
  background-color:transparent;
}
#info {
  padding:10px 0;
}
#thongtin{
  width: 39%;
  float: left;
}
#chiso{
  width: 39%;
  float: right;
}
h1{
  font-weight: bold;
  text-align: center;
  padding-left: 0.5em;
}
#info .item {
 /* border-radius:50px;*/
  height: 20px;
  padding:2px 20px;
}
#info .submit {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3f93ff;
  border: none;
  color: white;
  margin-top: 10px;
}
.form-groupnote input{
  width: 100%;
  height: 30px;
}

.in input{
  width: 100px;
  border-radius: 30px;
}

#hoadon{
  width: 300px;
  background-color: #FFCCFF;
  float: left;
  margin-left: 130px;
  display: none;
}
h3{
  font-size:  30px;
  text-align: center;
  margin: 0;
  color: red;
}

td{
  padding: 5px;
  

}
.col1{
  width: 40%;
}
table{
  width: 100%;
}
